<template>
  <!-- <CDropdown
    inNav
    class="c-header-nav-items"
    placement="bottom-end"
    add-menu-classes="pt-0"
  >
    <template #toggler>
      <CHeaderNavLink>
        <div class="c-avatar">
          <img
            src="img/avatars/6.jpg"
            class="c-avatar-img "
          />
        </div>
      </CHeaderNavLink>
    </template>
    <CDropdownHeader tag="div" class="text-center" color="light">
      <strong>Account</strong>
    </CDropdownHeader>
    <CDropdownItem>
      <CIcon name="cil-bell"/> Updates
      <CBadge color="info" class="mfs-auto">{{ itemsCount }}</CBadge>
    </CDropdownItem>
    <CDropdownItem>
      <CIcon name="cil-envelope-open" /> Messages
      <CBadge color="success" class="mfs-auto">{{ itemsCount }}</CBadge>
    </CDropdownItem>
    <CDropdownItem>
      <CIcon name="cil-task" /> Tasks
      <CBadge color="danger" class="mfs-auto">{{ itemsCount }}</CBadge>
    </CDropdownItem>
    <CDropdownItem>
      <CIcon name="cil-comment-square" /> Comments
      <CBadge color="warning" class="mfs-auto">{{ itemsCount }}</CBadge>
    </CDropdownItem>
    <CDropdownHeader
      tag="div"
      class="text-center"
      color="light"
    >
      <strong>Settings</strong>
    </CDropdownHeader>
    <CDropdownItem>
      <CIcon name="cil-user" /> Profile
    </CDropdownItem>
    <CDropdownItem>
      <CIcon name="cil-settings" /> Settings
    </CDropdownItem>
    <CDropdownItem>
      <CIcon name="cil-dollar" /> Payments
      <CBadge color="secondary" class="mfs-auto">{{ itemsCount }}</CBadge>
    </CDropdownItem>
    <CDropdownItem>
      <CIcon name="cil-file" /> Projects
      <CBadge color="primary" class="mfs-auto">{{ itemsCount }}</CBadge>
    </CDropdownItem>
    <CDropdownDivider/>
    <CDropdownItem>
      <CIcon name="cil-shield-alt" /> Lock Account
    </CDropdownItem>
    <CDropdownItem>
      <CIcon name="cil-lock-locked" @click="logoutUser"/> Logoutx
    </CDropdownItem>
  </CDropdown> -->
  <div>
    <b-modal size="" centered v-model="logout">
      <template slot="modal-header">
        <h5 class="modal-title">Salir del Sistema</h5>
      </template>
      <p><b>{{ user.username }}</b>, ¿desea salir del sistema?</p>
      <template slot="modal-footer">
        <b-button variant="secondary" class="btn btn-secondary" @click="logout=false">Cancelar</b-button>
        <b-button variant="danger" class="btn btn-primary" @click="logoutUser">Salir</b-button>
      </template>
    </b-modal>
    <b-button size="sm" variant="outline-primary" @click="showlogoutModal()" ><i class="fas fa-sign-out-alt"></i> Cerrar</b-button>
  </div>
</template>

<script>
export default {
  name: 'TheHeaderDropdownAccnt',
  data: ()=> {
    return {
      user: {
          cuenta:{
            razonsocial:''
          },
          perfil:{
            image:''
          }
        },
      token:'', 
      logout: false
    }
  },
  mounted() {
    this.getUserData();
  },
  methods: {
    getUserData: function() {
        this.user = this.$store.getters.userData;
        this.token = this.$store.getters.userToken
    },
    showlogoutModal: function() {
      this.logout = true
    },
    logoutUser: function() {
      this.$store.commit('logoutuser');
      this.$router.push('/login')//.catch(err => {})
    }
  },
}
</script>

<style scoped>
  .c-icon {
    margin-right: 0.3rem;
  }
</style>