<template>
  <div class="app c-app flex-row align-items-center">
   <div class="container">
      <CRow class="justify-content-center">
        <CCol md="8">
          <CCardGroup>
            <CCard class="p-4">
              <CCardBody>
                <CForm>
                  <h1>Ingresar</h1>
                  <p class="text-muted">Bienvenido !</p>
                  <div class="mb-3">
                  <b-input-group>
                      <b-input-group-prepend is-text >
                      <i class="fas fa-building"></i>
                      </b-input-group-prepend>
                      <b-form-input v-model="form.ruc" placeholder="RUC" ></b-form-input>
                  </b-input-group>
                  </div>
                  <div class="mb-3">
                  <b-input-group>
                      <b-input-group-prepend is-text >
                      <i class="fas fa-user"></i>
                      </b-input-group-prepend>
                      <b-form-input v-model="form.usuario" placeholder="Usuario" ></b-form-input>
                  </b-input-group>
                  </div>
                  <div class="mb-3">
                  <b-input-group>
                      <b-input-group-prepend is-text >
                      <i class="fas fa-lock"></i>
                      </b-input-group-prepend>
                      <b-form-input type="password" v-model="form.clave" placeholder="contraseña" ></b-form-input>
                  </b-input-group>
                  </div>
                   <b-row>
                     <b-col cols="6">
                       <template v-if="!loading">
                         <b-button variant="primary" @click="dologin()">Ingresar</b-button>
                       </template>
                       <template v-else>
                         <b-button variant="primary" :disabled="loading"><i class="fa fa-spin fa-spinner"/> Cargando</b-button>
                       </template>               
                     </b-col>
                     <b-col>
                       <b-link color="link"> Olvidé mi clave</b-link>
                     </b-col>
                   </b-row>
                </CForm>
              </CCardBody>
            </CCard>
            <CCard
              color="primary"
              text-color="white"
              class="text-center py-5 d-md-down-none"
              body-wrapper
            >
              <CCardBody>
                <h2>Sign up</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <CButton
                  color="light"
                  variant="outline"
                  size="lg"
                >
                  Register Now!
                </CButton>
              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
        <vue-snotify/>
      </CRow>
    </div>
    <vue-snotify/>
  </div>
</template>
<script>
import axios from 'axios'
export default {
    name:'Login',
    data() {
        return {
          form:{
            ruc: '',
            usuario: '',
            clave: ''
          },
            recuperar:false,
            loading:false
        }
    },
    methods: {
      dologin(){
         this.loading = true;
         axios
         .post(process.env.VUE_APP_API_URL + 'login',this.form)
         .then(response=>(
           this.$store.commit('loginuser', response.data),
           this.$snotify.success(response.data.response.msg, 'Éxito'),
           this.$router.push('/')
         ))
         .catch(error=>(
           this.loading = false
         ))
      }
    },
}
</script>
<style scoped>
    .app{
    background-image: url('/images/restaurante3.jpg');
    background-repeat: no-repeat;
    background-size: cover;   
    }
    .menus{
	    border: none !important;
    }
    .centrar{
        padding: 9%;
        background-color: aqua;
    }
</style>