<template>
  <router-view></router-view>
</template>

<script>
import Vue from 'vue'
export default {
  name: 'App',
  data:()=> {
    return {
      
    }
  },
  mounted(){
    this.authchecked(),
    this.tokenExpiredCheck()
  },
  updated() {
     this.tokenExpiredCheck()
  },
  methods:{
    tokenExpiredCheck: function () {
      if(this.$store.state.user.data.expire){
        let expire = this.$moment(this.$store.state.user.data.expire);
        let now = this.$moment();
          if( now > expire){
            this.$store.commit('logoutuser');
            this.redirectToLogin()
          }
      }else{
        this.redirectToLogin()
      }
    },
    authchecked(){
      console.log(this.$store.state,'entra')
      if(this.$store.state.user.logged===1){
        this.$router.push('/').catch(err => { console.log(err) })
      }
      else{
        this.redirectToLogin()
      }
    },
    redirectToLogin: function () {
      if(this.$router.path !== '/login')
        this.$router.push('/login').catch(err => { console.log("Error:" + err) })
    },
  },
}
</script>

<style lang="scss">
  // Import Main styles for this application
  @import '~bootstrap-vue/dist/bootstrap-vue.css';
  @import '~@fortawesome/fontawesome-free/css/all.css';
  @import 'assets/scss/style';
</style>
